body {
    color: #fff;
    font-family: 'Inconsolata', monospace;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    min-height: 100%;
}

#jumbotron {
    background-color: #006b3a;
    flex-grow: 4;
    padding: 3rem;
}

#jumbotron a,
#jumbotron a:active,
#jumbotron a:visited {
    color: #d9ffb3;
}
#jumbotron a:hover {
    color: #f2ffe6;
}

#toast {
    margin-bottom: 0;
}

#article-title {
    font-family: 'Bitter', serif;
    font-size: 6rem;
    line-height: 1.25
}

#article-title span {
    font-size: 1.5rem;
}

#controller {
    background-color: #343434;
    flex-grow: 2;
    padding: 3rem;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    color: #006b3a;
}
button img {
    width: 90%;
}

button:hover img {
    -webkit-filter: drop-shadow(3px 3px 0px #222);
    filter: drop-shadow(3px 3px 0px #222);
}

.analytics {
    border-left: 3px solid #fff;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.analytics img {
    max-height: 85px;
    margin-bottom: 1rem;
}

.analytics p {
    margin-bottom: .4rem;
    font-size: 2.25rem;
}

footer {
    background-color: #212121;
    flex-grow: .1;
    padding: 1rem 3rem 1rem 3rem;
}

footer a, footer a:active, footer a:hover, footer a:visited {
    text-decoration: none;
    color: #006b3a;
}

footer a:hover {
    color: #17ae30;
}

footer p {
    margin: auto;
}

/* Larger than mobile */
@media (max-width: 600px) {
    #article-title {
        font-size: 3em;
    }
    .analytics {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .analytics img {
        max-height: 70px;
        margin-bottom: 1rem;
    }
}

@media (max-width: 550px) {
 
    #onion.columns, #nottheonion.columns {
        width: 50%;
        margin-bottom: 2rem;
    }
    .analytics p {
        font-size: 1.75rem;
    }
    
}